<!-- contacts list  -->
<div id="contacts" class="panel-collapse collapse show" aria-expanded="true">
    <ul class="list-group pull-down" id="contact-list">
        <li class="list-group-item list-group-item-header">
            <div class="row mx-auto pt-3">
                <h3>Contacts</h3>
            </div>
        </li>
        <li class="list-group-item list-group-item-header subheader">FAVORITE CONTACTS</li>
        <li class="list-group-item" *ngFor="let contact of contacts | favoritesFilter$:true | async">
            <div class="row w-100 align-items-center">
                <div class="col-4 px-0">
                    <a href="" [routerLink]="['/contact', contact.id]">
                        <img [src]="contact.smallImageURL" onError="this.src='/assets/img/profiles/User-Icon-Small@2x.png'" *ngIf="contact.smallImageURL;else placeholderImage" class="mx-auto d-block img-fluid resize" >
                        <ng-template #placeholderImage>
                            <img src="/assets/img/profiles/User-Icon-Small.png" 
                            srcset="/assets/img/profiles/User-Icon-Small.png 60w, /assets/img/profiles/User-Icon-Small@2x.png 120w, /assets/img/profiles/User-Icon-Small@3x.png 180w" sizes="(max-width: 576px) 60px, (max-width: 768px) 120px, 180px" alt="" class="mx-auto d-block img-fluid"> 
                        </ng-template>
                    </a>
                </div>
                <div class="col-8 text-left">
                    <div class="row align-items-center">
                        <div class="px-1">
                            <img src="/assets/img/stars/Favorite-True.png" 
                                srcset="/assets/img/stars/Favorite-True.png 20w, /assets/img/stars/Favorite-True@2x.png 40w, /assets/img/stars/Favorite-True@3x.png 60w" sizes="(max-width: 576px) 20px, (max-width: 768px) 40px, 60px" alt="" class="mx-auto d-block img-fluid">
                        </div>
                        <div class="px-1">
                            <label class="name lead font-weight-bold mb-0">
                                {{contact.name}}
                            </label>
                            <br>
                            <div class="text-muted company-name">{{contact.companyName}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item list-group-item-header subheader">OTHER CONTACTS</li>
        <li class="list-group-item" *ngFor="let contact of contacts | favoritesFilter$:false | async">
            <div class="row w-100 align-items-center">
                <div class="col-4 px-0">
                    <a href="" [routerLink]="['/contact', contact.id]">
                        <img [src]="contact.smallImageURL" onError="this.src='/assets/img/profiles/User-Icon-Small@2x.png'" *ngIf="contact.smallImageURL;else placeholderImage" class="mx-auto d-block img-fluid resize">
                        <ng-template #placeholderImage>
                            <img src="/assets/img/profiles/User-Icon-Small.png" 
                                srcset="/assets/img/profiles/User-Icon-Small.png 60w, /assets/img/profiles/User-Icon-Small@2x.png 120w, /assets/img/profiles/User-Icon-Small@3x.png 180w" sizes="(max-width: 576px) 60px, (max-width: 768px) 120px, 180px" alt="" class="mx-auto d-block img-fluid"> 
                        </ng-template> 
                    </a>
                </div>
                <div class="col-8 text-left">
                    <div class="row align-items-center">
                        <div class="px-1">
                            <img src="/assets/img/stars/Favorite-Mask.png" 
                                srcset="/assets/img/stars/Favorite-Mask.png 20w, /assets/img/stars/Favorite-Mask@2x.png 40w, /assets/img/stars/Favorite-Mask@3x.png 60w" sizes="(max-width: 576px) 20px, (max-width: 768px) 40px, 60px" alt="" class="mx-auto d-block img-fluid">
                        </div>
                        <div class="px-1">
                            <label class="name lead font-weight-bold mb-0">
                                {{contact.name}}
                            </label>
                            <br>
                            <div class="text-muted company-name">{{contact.companyName}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>