<!-- Contact screen  -->
<div id="contact-detail" class="panel-collapse collapse show" aria-expanded="true">
    <ul class="list-group pull-down" id="contact-list">
        <!-- Contact Details page header  -->
        <li class="list-group-item list-group-item-header">
            <div class="row pt-3 align-items-center">
                <div>
                    <a href=""  [routerLink]="['/contacts-list']">
                        <h3>< Contacts</h3>
                    </a>
                </div>
                <div id="favorite-false-float-right"> 
                    <a href="" class="">
                        <img src="/assets/img/stars/Favorite-False.png" 
                            srcset="/assets/img/stars/Favorite-False.png 350w, /assets/img/stars/Favorite-False@2x.png 700w, /assets/img/stars/Favorite-False@3x.png 1100w" alt="" class="float-right">
                    </a>
                </div>
            </div>
        </li>
        <!-- /Contact Details page header  -->
        <li class="list-group-item justify-content-center">
            <div class="row">
                <div class="col-12">
                    <img [src]="contact.largeImageURL" onError="this.src='/assets/img/profiles/User-Icon-Large@2x.png'" alt="" class="mx-auto d-block img-fluid">
                </div>
                <div class="col-12 text-center px-1">
                     <h4 class="font-weight-bold">
                         {{contact.name}}
                     </h4>
                    <span class="text-muted">{{contact.companyName}}</span>
                </div>
            </div>
        </li>
        <!-- Contact Phone numbers  -->
        <li *ngFor="let phoneNumber of phoneNumbers"  class="list-group-item">
            <div class="row">
                <div class="col d-block text-muted">
                    PHONE:
                </div>
            </div>
            <div class="w-100"></div>
                <div class="col">
                    <div class="d-inline text-left font-weight-bold">
                        {{phoneNumber.number}}
                    </div>
                    <div class="d-inline text-right">
                        {{phoneNumber.phoneType}}
                    </div>
                </div>
        </li>
        <!-- /Contact Phone numbers -->
        <!-- Address info  -->
        <li *ngIf="contact.address" class="list-group-item">
            <div class="row">
                <div class="col d-block text-muted">
                    ADDRESS:
                </div>
            </div>
            <div class="col font-weight-bold">
                <div class="">
                    {{contact.address.street}}
                </div>
                <div class="">
                    {{contact.address.city}}, {{contact.address.state}} {{contact.address.zipCode}}, {{contact.address.country}}
                </div>
            </div>
        </li>
        <!-- /Address info -->
        <!-- Birthdate info  -->
        <li *ngIf="contact.birthdate" class="list-group-item">
            <div class="row">
                <div class="col d-block text-muted">
                    BIRTHDATE:
                </div>
            </div>
            <div class="col font-weight-bold">
                <div class="">
                    {{dateFromString | date:'longDate'}}
                </div>
            </div>
        </li>
        <!-- /Birthdate info  -->
        <!-- Email info -->
        <li *ngIf="contact.emailAddress" class="list-group-item">
            <div class="row">
                <div class="col d-block text-muted">
                    EMAIL:
                </div>
            </div>
            <div class="col font-weight-bold">
                {{contact.emailAddress}}
            </div>
        </li>
        <!-- /Email info -->
    </ul>
</div>